.card {
  width: 292px;
  height: 372px;
  background: linear-gradient(124.4deg, #fff 10.8%, #fff 87.34%);
  border: 1px solid #d7d7d7;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 16px;
}

.card .card__home {
  height: 265px;
  width: 260px;
  left: 16px;
  border-radius: 15px;
}

.card .card__top-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.card__top-text p {
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  color: #434343;
  font-family: "Poppins", sans-serif;
}

.card__top-text p:last-child {
  font-weight: 600;
}

.card .card__bottom-text {
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
  width: 100%;
}

.card__bottom-text p {
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  color: #434343;
  font-family: "Poppins", sans-serif;
}

.card .img_last-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  margin-top: 0.8rem;

}


